.navbar-important {
    color: #007bff;
    font-weight: bold;
}

.top-bar {
    z-index: 1 !important;
}

.custom-navbar-brand {
    font-size: 2rem !important;
}

/* Cuando el ancho de la pantalla es menor a 480px (por ejemplo, teléfonos móviles) */
@media (max-width: 480px) {
    .custom-navbar-brand {
        font-size: 1.4rem !important;
    }
}